# env files
.env
.env.*
client/.env
server/.env

# dependencies
node_modules/
client/node_modules/
server/node_modules/

# datasets & raw data
dataset/
server/dataset/

# build output
dist/
build/

# logs
*.log

# OS
.DS_Store
Thumbs.db
